h1 {
    font-family: "Raleway", sans-serif;
}

.my-font-bold {
    font-weight: 900;
}

.logo-img {
    filter: invert(1);
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    width: 140px;
}
